/* Estilo del botón de navegación */
.nav-button {
  position: absolute;
  cursor: pointer;
  border: none;
  background: none;
  padding: 20px 0 0 30px;
  background-color: transparent;
  z-index: 10;
}

/* Estilo de las barras del botón de navegación */
.nav-button div {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 8px 0;
  transition: transform 0.3s ease;
}

/* Transformación de la primera barra del botón de navegación cuando se expande */
.nav-button[aria-expanded='true'] div:nth-child(1) {
  transform: translateY(5.5px) rotate(45deg);
}

/* Transformación de la segunda barra del botón de navegación cuando se expande */
.nav-button[aria-expanded='true'] div:nth-child(2) {
  transform: translateY(-5.5px) rotate(-45deg);
}

/* Estilo del menú de navegación */
#nav {
  position: fixed;
  align-items: flex-start;
  inset: 0;
  background-color: #161617;
  width: 15rem;
  list-style: none;
  transform: translateX(-100%);
  transition: transform 500ms ease-out, opacity 500ms ease-out;
  z-index: 1;
}

/* Estilo del menú de navegación cuando está visible */
#nav[data-visible="true"] {
  display: flex;
  opacity: 1;
  transform: translateX(0);
}

/* Estilo del fondo del menú de navegación */
#nav-background {
  margin-top: 50px;
  display: flex;
  background-color: #161617;
  text-align: left;
  width: 100%;
}

/* Estilo de la lista dentro del fondo del menú de navegación */
#nav-background ul {
  list-style: none;
  padding: 10px;
  flex-direction: column;
  text-align: left;
}

/* Estilo de los elementos de la lista */
#nav-background ul li {
  width: 100%;
  text-align: left;
  position: relative;
}

/* Estilo de los enlaces de navegación */
.nav-link {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  font-size: 25px;
  position: relative;
}

/* Estilo de los enlaces de navegación con efecto hover */
.nav-link::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 6px;
  height: 6px;
  border-top: 2px solid rgb(255, 253, 253);
  border-right: 2px solid rgb(255, 253, 253);
  transform: translateY(-50%) rotate(45deg);
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
}

.nav-link:hover::after {
  opacity: 1;
  transform: translateY(-50%) translateX(25px) rotate(45deg); /* Mueve la flecha a 25px a la derecha al hacer hover */
}

/* Estilo para ocultar elementos */
.hidden {
  display: none;
}

/* Estilo para el submenú */
#sub-nav-background {
  display: none; /* Ocultar submenú por defecto */
}

#sub-nav-background ul {
  padding: 10px;
  margin-top: 50px;
  list-style: none;
  width: 100%;
  text-align: left;
}

/* Estilo específico para el botón "Volver" */
.back-button {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px; /* Reducción del padding */
  display: flex;
  align-items: center;
  font-size: 14px; /* Tamaño de fuente reducido */
  position: relative;
}

.back-button .back-arrow {
  width: 4px; /* Reducir el tamaño de la flecha */
  height: 4px; /* Reducir el tamaño de la flecha */
  border-top: 2px solid rgb(255, 253, 253);
  border-right: 2px solid rgb(255, 253, 253);
  transform: rotate(-135deg); /* Rotar la flecha 90 grados a la izquierda */
  margin-right: 5px; /* Añadir margen entre la flecha y el texto */
}

.back-button .back-label {
  position: relative;
}

.back-button .back-label::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width 0.3s ease;
  position: absolute;
  bottom: -2px; /* Posiciona el subrayado justo debajo del texto */
  left: 0;
}

.back-button:hover .back-label::after {
  width: 100%; /* Animación de subrayado al pasar el cursor */
}

.back-button:hover {
  text-decoration: none; /* Sin subrayado del texto */
}

/* Fondo oscuro semi-transparente */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
}

/* Efecto blur */
.blur {
  transition: filter 0.5s ease;
}