body {
  margin: 0;
  padding: 0;
  color: #f4f4f4;
  font-family: 'Poppins', sans-serif;
  background-image: url('../assets/images/bdcheerw.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

header {
  display: flex;
  background-color: transparent;
  color: #fff;
  height: 10vh;
  text-align: center;
  padding: 0 20px;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-family: 'Berkshire Swash', cursive;
}

.sub {
  display: flex;
  flex-direction: column;
}

.logo-text {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: end;
  margin-top: 10px;
}

.sub span {
  margin-left: 5vh;
  color: #d4ba13;
}

.logo {
  width: 60px;
  height: auto;
  fill: white;
}

.redes-sociales {
  float: right;
  width: 50%;
  display: flex;
  flex-direction: row;  
  justify-content: flex-end;
}

.logo-red {
  margin: 1vh 5vh;
}

.title h1 {
  margin: 0;
  font-size: 2rem;
}

.title span {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1rem;
}

main {
  flex-grow: 1;
}

section {
  margin: 10px;
  padding: 10px;
  background-color: transparent;
}

footer {
  text-align: center;
  padding: 10px 20px;
  background-color: #161617;
  color: #fff;
  height: 5vh;
}

.welcome-message {
  width: 100%;
  text-align: center;
  background-color: rgba(23, 23, 23, 0.449);
  backdrop-filter: blur(5px);
  margin-top: 15vh;
}

.welcome-message h2 {
  font-size: 40px;
}

.welcome-sub {
  font-size: 1.2rem;
}

.welcome-color {
  color: #b69f09;
  font-size: 100px;
}

#welcome-button {
  margin: 1rem;
  background-color: #000000;
  color: #d4ba13;
  border: none;
  padding: 10px 20px;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 2rem;
  transition: background-color 0.3s ease;
  font-weight: bold;
  margin-top: 4vh;
}

#welcome-button:hover {
  background-color: #d4ba13;
  color: #000000;
}

.text-center {
  margin: 0px 40px;
  font-size: 25px;
}

.text-center h2 {
  font-weight: bold;
}

.berkshire-swash-regular {
  font-family: "Berkshire Swash", serif;
  font-weight: 400;
  font-style: normal;
}

.dancing-script {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}
