body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header{
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

header nav a, header nav a:visited{
    color: #ffffff;
    text-decoration: none;
}

header nav a:hover, header nav a:focus{
    color: #cccccc;
    text-decoration: underline;
}

nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li{
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav ul li a:hover{
    text-decoration: underline;
}

section{
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
}

footer{
    text-align: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
}

@media (max-width: 600px){
    nav ul{
        display: block;
        text-align: center;
    }

    nav ul li{
        display: block;
        margin: 10px 0;
    }
}